* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
span,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background: #f5f7fa;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row-reverse;

  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  padding: 25px 40px 0 40px;
  background: #1e2939;
}

.cv-photo {
  width: 290px;
}

.contact {
  margin-top: 51px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  margin-top: 8px;
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

.tech-skills {
  margin-top: 47px;
}

.list-secondary {
  margin-top: 8px;
  list-style-position: inside;
  color: #fb6d3a;
}

.list-secondary-item {
  color: #ffffff;
}

.soft-skills {
  margin-top: 44px;
}

main {
  padding: 102px 217px 107px 88px;
}

.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  margin-top: 19px;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.description {
  margin-top: 24px;
  width: 400px;
  color: #595959;
}

.projects {
  margin-top: 40px;
  width: 485px;
}

.list-primary {
  margin-top: 8px;
  list-style-position: inside;
  font-weight: 700;
}

.list-primary-item {
  text-decoration: none;
  font-weight: 400;
  color: #595959;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.work-experience {
  margin-top: 51px;
}

.job,
.study {
  margin-top: 16px;
}

.job-name,
.study-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.date {
  margin-top: 11px;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.education {
  margin-top: 43px;
}

.study-field {
  margin-top: 11px;
}
